// controllers/user/views/index.js

h1 Nueva Empresa

form(method="POST", action="/user")

    p Nombre:
        input(type="text" name="name")

    p Calificación
        input(type="number" name="rate")

    p
        button(type="submit") Enviar
